<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100%;
            font-size: 1.5rem;
            background: rgb(238, 202, 202);
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/magazines">Magazines</a></li>
    </ul>
</body>
</html>